 body  
       {  padding:0;
          margin:auto;
	      background-color: #b0c4de;
  	      width:70%;
	      height:500px;}
	      
p:hover {border:3px dashed white; width:80px;background-color:#d8bfd8}  
p2:hover {border:3px dashed white; width:180px;background-color:#d8bfd8}
	      
.title {  font-size :30px; padding:5px; margin:3px; border: 10px groove #ffb6c1 ;
          text-align: center; background-color: #ffe4e1;}
          
.menu  {  font-size:20px; padding:1px; margin:auto; border: 10px double #ffb6c1 ;
          background-color: #ffe4e1 ;font-family: "微軟正黑體";}
.menu_item {font-color= #5d669c }
.pic{width:5px; height:5px;overflow:hidden;}
.pic{transform:scale(1,1);transition: all 1s ease-out;}
.pic:hover{transform:scale(50,50);}

#order {border:5px solid #888888 ;
        background-color:#6495ed;}
        
#cancel {border:5px solid #888888 ;
        background-color:#6495ed;}
